In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/exercicios.csv')

In [4]:
df

,Date Lifted,Exercise,Weight (kg),Weight (lb),Reps,Bodyweight (kg),Bodyweight (lb),Percentile (%),Warmup
0,2025-01-29,Pull Ups,NaN,NaN,4,84.6,186.5,15.7,0
1,2025-01-29,Pull Ups,NaN,NaN,5,84.6,186.5,18.6,0
2,2025-01-29,Pull Ups,NaN,NaN,4,84.6,186.5,15.7,0
3,2025-01-29,Chin Ups,NaN,NaN,5,84.6,186.5,15.9,0
4,2025-01-29,Chin Ups,NaN,NaN,4,84.6,186.5,13.0,0
...,...,...,...,...,...,...,...,...,...
4492,2021-12-13,Dumbbell Shrug,14.0,30.9,18,85.0,187.4,9.0,0
4493,2021-12-13,Dumbbell Row,12.0,26.5,19,85.0,187.4,5.0,0
4494,2021-12-13,T Bar Row,10.0,22.1,12,85.0,187.4,0.1,0
4495,2021-12-13,Face Pull,12.5,27.6,12,85.0,187.4,6.8,0
4496,2021-12-13,Back Extension,NaN,NaN,12,85.0,187.4,27.5,0

In [5]:
df.describe()

,Weight (kg),Weight (lb),Reps,Bodyweight (kg),Bodyweight (lb),Percentile (%),Warmup
count,3826.000000,3826.000000,4497.000000,4497.000000,4497.000000,4497.000000,4497.0
mean,39.068531,86.136775,9.078497,84.635335,186.579453,18.839048,0.0
std,27.908706,61.524817,4.920617,3.276131,7.222017,14.168692,0.0
min,-33.000000,-72.800000,1.000000,80.900000,178.400000,0.000000,0.0
25%,20.000000,44.100000,5.000000,81.700000,180.100000,8.700000,0.0
50%,32.000000,70.600000,8.000000,83.700000,184.500000,15.500000,0.0
75%,50.000000,110.200000,11.000000,86.200000,190.000000,25.400000,0.0
max,190.000000,418.900000,46.000000,92.600000,204.200000,84.300000,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4497 entries, 0 to 4496
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date Lifted      4497 non-null   object
 1   Exercise         4497 non-null   object
 2   Weight (kg)      3826 non-null   float64
 3   Weight (lb)      3826 non-null   float64
 4   Reps             4497 non-null   int64
 5   Bodyweight (kg)  4497 non-null   float64
 6   Bodyweight (lb)  4497 non-null   float64
 7   Percentile (%)   4497 non-null   float64
 8   Warmup           4497 non-null   int64
dtypes: float64(5), int64(2), object(2)
memory usage: 316.3+ KB